{% extends "base.html" %}
{% block css %}
            #divproverbio {
               margin-bottom: 60px;
               width: 100%;
               height: 100%;
               display: table;
            }

            body, html {
               height: 100%;
               margin: 0;
               padding: 0;
            }

            #pproverbio {
                font-size: 50px;
                font-family: Georgia, 'Cutive Mono', serif;
                display: table-cell;
                font-style: italic;
                vertical-align: middle;
                text-align: center;
            }

{% endblock %}


{% block js %}
        <script type="text/javascript" src="/static/ZeroClipboard.js"></script>
        <script type="text/javascript">
           $('[data-provide="fbcazzy"]').on('click', function(e) {
                                window.open(
                            'https://www.facebook.com/sharer/sharer.php?s=100&p[url]=' + encodeURIComponent('http://arnaldo.informateci.org/proverbia?id={{id}}')
                            + '&p[title]=Arnaldo&p[summary]=' + encodeURIComponent('{{proverbio}}'), 
                            'facebook-share-dialog', 
                            'width=626,height=436'); 
                            return false;">
            });
        </script>
{% endblock %}


{% block corpo %}
            
                <div id="divproverbio">
                  <!--div class="col-md-1"></div-->
                  <p id="pproverbio">{{proverbio}}</p>
                  <!--div class="col-md-1"></div-->
                </div>


                {% if ricarica is defined %}
                <div class="row">
                  <div class="col-md-1"></div><div class="col-md-3"><a class="btn btn-primary btn-lg" href="/{{ricarica}}">Rigenera</a></div><div class="col-md-8"></div>
                </div>
                   
                {% else %}
                <div style="margin-left: 50px; margin-right:50px; margin-bottom: 70px" class="row">
                  <div style="float: left">
                       <a class="btn btn-primary btn-lg" style="width: 160px;" href="/proverbia">Nuovo proverbio</a>
                       <a class="btn btn-primary btn-lg" style="width: 160px" href="/proverbia?id={{id}}">Permalink</a>
                  </div>
                  <div style="float: right;">
                      <a href="#" id="facebook-share" data-provide="fbcazzy"><img src="/static/facebook_s.png" height="50" /></a>
                      <a id="twitter-share" href="https://twitter.com/intent/tweet?text={{proverbio}}&url=http://arnaldo.informateci.org/proverbia?id={{id}}"><img src="/static/twitter_s.png" height="50" /></a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                {% endif %}


{% endblock %}



