{% extends "base.html" %}
{% block css %}
            #divproverbio {
               margin-bottom: 60px;
            }

            #pproverbio {
                font-size: 50px;
                font-family: 'Cutive Mono', serif;

            }


{% endblock %}


{% block js %}
        <script type="text/javascript" src="/static/ZeroClipboard.js"></script>
        <script type="text/javascript">
           $('[data-provide="fbcazzy"]').on('click', function(e) {
                                window.open(
                            'https://www.facebook.com/sharer/sharer.php?s=100&p[url]=' + encodeURIComponent('http://arnaldo.informateci.org/proverbia?id={{id}}')
                            + '&p[title]=Arnaldo&p[summary]=' + encodeURIComponent('{{proverbio}}'), 
                            'facebook-share-dialog', 
                            'width=626,height=436'); 
                            return false;">
            });
        </script>
{% endblock %}


{% block corpo %}
            
                <div id="divproverbio" class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-10"><p id="pproverbio">{{proverbio}}</p></div>
                  <div class="col-md-1"></div>
                </div>


                {% if ricarica is defined %}
                <div class="row">
                  <div class="col-md-1"></div><div class="col-md-3"><a class="btn btn-primary btn-lg" href="/{{ricarica}}">Rigenera</a></div><div class="col-md-8"></div>
                </div>
                   
                {% else %}
                <div class="row">
                  <div class="col-md-1"></div>
                  <div class="col-md-3"><a class="btn btn-primary btn-lg btn-block" href="/proverbia">Nuovo proverbio</a></div>
                  <div class="col-md-3"><a class="btn btn-primary btn-lg btn-block" href="/proverbia?id={{id}}">Permalink</a></div>
                  <div class="col-md-1"><a href="#" id="facebook-share" data-provide="fbcazzy"><img src="/static/facebook_s.png" height="50" /></a></div>
                  <div class="col-md-1"><a id="twitter-share" href="https://twitter.com/intent/tweet?text={{proverbio}}&url=http://arnaldo.informateci.org/proverbia?id={{id}}"><img src="/static/twitter_s.png" height="50" /></a></div>
                  <div class="col-md-3"></div>
                </div>
                {% endif %}


{% endblock %}



